POSTGRES_DB=<dbname>
POSTGRES_USER=<db_username>
POSTGRES_PASSWORD=<db_password>
KEYCLOAK_ADMIN=<keycloak_admin_name>
KEYCLOAK_ADMIN_PASSWORD=<keycloak_admin_password>
KEYCLOAK_AUTH_SERVER_URL=http://localhost
KEYCLOAK_CLIENT_ID=id
KEYCLOAK_REALM=realm
KEYCLOAK_USER_ADMIN=admin
KEYCLOAK_USER_PASSWORD=admin
jwt.secret=<w3j9fJ2ksu!d7i8W9$zGpL5vYbT7cR2>
jwt.expiration=3600000